body {
  margin: 0;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, "Noto Sans SC",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* todo */
  color: #334155;
  font-size: 14px;
  font-weight: 500;
  background-color: #fcf6e5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

section li {
  margin-bottom: 8px;
}

section li:last-child {
  margin-bottom: 0;
}
