body {
  margin: 0;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, "Noto Sans SC",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* todo */
  color: #333;
  font-size: 14px;
  font-weight: 500;
}

html,
body {
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
